target/
.idea
.eclipse
*.properties
!gradle/wrapper/gradle-wrapper.properties
*.yml
!.github/workflows/
!.github/workflows/*.yml
!deploy/prod/docker-compose.yml
!deploy/uat/docker-compose.yml
!docker-compose.yml
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear
*.logs
*.iml
HELP.md

