HELP.md
target/
*.properties
*.yml
!src/main/resources/application.yml
!src/main/resources/application-dev.yml
!src/main/resources/application-prod.yml
*.class
*.jar
*.war
*.ear
*.logs
*.iml
.idea/
.eclipse